# Build Folders
obj
bin
dist
dist-ssr

# Logs
Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.local

# Build results
[Dd]ebug/
[Rr]elease/
x64/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.builds

# Dependencies
node_modules
packages
AppPackages/

# Migrations
Migrations

# Test results
TestResults/

# Publish web output
*Publish.xml

# Editor directories and files
appsettings.json
appsettings.Development.json

.vs/*
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.vsidx
