* {
    padding: 0;
    margin: 0;
}

/*Colors*/
html {
    --text-light: white;
    --cart-background: #CED3DC;
    --accent-dark: #3D5467;
    background-color: var(--accent-dark);
}

.infoBar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1rem;
    color: var(--text-light);
    background-color: var(--accent-dark);
    z-index: 50;
}

.container {
    position: absolute;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    pointer-events: none;
    z-index: 100;
}

.productSelect {
    background-color: var(--cart-background);
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.shoppingCart {
    background-color: var(--cart-background);
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.selectDisplayItem {
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid;
    border-width: thin;
    border-color: var(--accent-dark);
    pointer-events: auto;
}

.geoBtn {
    pointer-events: auto;
}

.appMap {
    max-width: 100%;
    height: 100vh;
    z-index: 0;
}